In [3]:
#1
for i in range(1,6):
 print(i)

1
2
3
4
5

In [4]:
#2
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#3
list1 = []
for i in range(3):
    user = input("Enter Your Name")
    list1.append(user)
print(list1)

['Meher', 'Ashwin', 'Komal']

In [6]:
#4
num = [2,4,6,8,10]
for i in num:
    print(f"The Square of {i} is ",i**2)

The Square of 2 is  4
The Square of 4 is  16
The Square of 6 is  36
The Square of 8 is  64
The Square of 10 is  100

In [9]:
#5
details = [
    {
        'name': 'Alice',
        'age' : 20
    },
    {
        'name' : 'John',
        'age' : 21
    },
    {
        'name' : 'Waad',
        'age' : 20
    }
]

for i in details:
    name = i.get("name")
    age = i.get("age")
    print(f"Your name is {name} and age is {age}")

Your name is Alice and age is 20
Your name is John and age is 21
Your name is Waad and age is 20

In [11]:
#6
fruits = [['apple', 'banana'], ['grape', 'mango']]
for fruit in fruits:
    print(fruit[0][0:])
    print(fruit[1][0:])

apple
banana
grape
mango

In [12]:
#7
user_name = input("Enter Your Name")
for char in user_name:
    print(char)

m
e
h
e
r

In [15]:
#8
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [20]:
#9
for i in range(3):
    Subject = input("Enter Subject Name")
    Marks = input(f"Enter Your Marks of {Subject}")
    print(f"The Subject is {Subject} and your marks is {Marks}")

The Subject is Math  and your marks is 96
The Subject is Science and your marks is 89
The Subject is English and your marks is 75

In [19]:
#10
prod_price = [
    ("Soap",50),
    ("Pencil",5),
    ("Box",200)
]

for product,price in prod_price:
    print(f"{product} : {price}")

Soap : 50
Pencil : 5
Box : 200